/* 1.02 */
body {
    background-color: #c0c5df;
    overflow: auto;
    width: 100%;
    height:100%;
    position:absolute;
    margin: 0;
}
textarea {
    resize: none;
    background-color: blanchedalmond;
}
#container {
    display: flex;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 80%;
}
#blocks {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 47%;
    height: 95%;
    overflow: scroll;
    background-color: white;
}
#text {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 47%;
    overflow: auto;
    height: 95%;
    background-color: white;
}
textarea.blockText {
    background-color: blanchedalmond;
    width: 47%;
    height: 63px;
}
textarea.resultBlock {
    background-color: white;
}
textarea#script {
    width: 98%;
    height: 90%;
    margin: auto;
}
h1 {
    text-align: center;
    display: block;
    margin-bottom: 2px;
    margin-top: 5px;
}
.block {
    border: 1px solid grey;
    margin: 2px;
    padding: 2px;
}
textarea#origSBV {
    width: 45%;
    height: 7%;
    margin-right: 5px;
}
textarea#resultSBV {
    width: 45%;
    height: 7%;
    margin-left: 5px;
}
#svbfiles {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;/*
    position:relative;
    text-align: center;*/
}
#buttons {
    text-align: center;
    width: 60%;
    display: inline-flex;
    justify-content: center;
    margin: auto;

}
#title {
    display: inline-block;
    width: 30%;
    text-align: center;
}

button {
    background-color: rgb(176, 201, 221);
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

button.menu {
    display: flex;
}

p {
    display: inline;
}

img.icon {
    cursor: pointer;
}
p#stopped {
    font-weight: bold;
}

.popContainers {
    position: absolute;
    top: 40px;
    left: 0px;
    width:100%;
    display:none;
}

.popDivs {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 80%;
    background-color: white;
    border: solid black 3px;
    overflow: auto;
}

#closeButton {
    position: absolute;
    top:3px;
    right:3px;
    width:20px;
    height:20px;
    cursor: pointer;

}

.centeredDiv {
    text-align: center;
}

#popTextArea {
    width: 95%;
    height: 500px;
}

#scriptDiv {
    display: flex;
    width: 100%;
    height: 45%;
    flex-direction: column;
}
#scriptHead {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3px;
}
#scriptTitle {
    margin: auto;
    width: 50%;
}
#loadScript {
    display: block;
    margin: auto;
}
#scriptButtons {
    width: 50%;
    text-align: right;
    display: flex;
}
#subTryDiv {
    position: absolute;
    top:-47px;
    left: 0px;
    width: 100%;
    height:70px;
    background-color: black;
    color:white;
    text-align: center;
    display: none;
}
#subTrySpan {
    position: absolute;
    bottom: 3px;
    width: 100%;
    font-size: 15px;
}
.highlight {
    background-color: rgb(255, 235, 169);
}