textarea {
    resize: none;
    background-color: blanchedalmond;
}
#container {
    display: flex;
    width: 97%;
    margin: auto;
    overflow: hidden;
    height: 600px;
}
#blocks {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 47%;
    height: 90%;
    overflow: scroll;
}
#text {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    width: 47%;
    overflow: hidden;
    height: 90%;
}
textarea.blockText {
    background-color: blanchedalmond;
    width: 47%;
}
textarea.resultBlock {
    background-color: white;
}
textarea#script {
    width: 98%;
    height: 90%;
    margin: auto;
}
h1 {
    text-align: center;
    width:40%;
    display: inline-block;
}
.block {
    border: 1px solid grey;
    margin: 2px;
    padding: 2px;
}
textarea#origSBV {
    width: 45%;
    height: 7%;
}
textarea#resultSVB {
    width: 45%;
    height: 7%;
}
#svbfiles {
    width: 95%;
    margin: auto;
    position:relative;
    text-align: center;
}
#buttons {
    text-align: center;
    width: 45%;
    display: inline-block;
}
button {
    background-color: darkseagreen;
    margin-bottom: 5px;
}

p {
    display: inline;
}
body {
    overflow: hidden;
}

img.icon {
    cursor: pointer;
}
p#stopped {
    font-weight: bold;
}